.main {
  margin: 0 20px;
}
/* .Room {
  color: darkgray;
}

.ant-btn {
  padding: 20px !important;
  &:hover {
    background: linear-gradient(135deg, rgba(105, 105, 105, 0.5) 0%, rgba(105, 105, 105, 0.5) 100%) !important;
  }
}
.ant-typography {
  padding: 0 !important;
} */
